API_PORT=3000
# PORT=3000

POSTGRES_HOST=cottons.app
POSTGRES_PORT=5432
POSTGRES_DB=kimheng_db
POSTGRES_USER=nestjs_db
POSTGRES_PASSWORD=myveryhardpassword

#OAuth Third-party provider configuration
GOOGLE_CLIENT_ID=118591739081-g6muv3idtoouu9ucvb9iaft60lt4md30.apps.googleusercontent.com 
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
FRONTEND_URL=http://localhost:5173

# JWT configuration
JWT_ACCESS_SECRET=replace_me_with_a_long_random_string
JWT_ACCESS_EXPIRES_IN=1h

DATABASE_URL=postgresql://nestjs_db:myveryhardpassword@cottons.app:5432/kimheng_db
