API_PORT=3000
# PORT=3000

# DB_PORT=5432
POSTGRES_DB=kdrc_db
POSTGRES_USER=kdrc_user
POSTGRES_PASSWORD=kdrc_password
POSTGRES_PORT=5433
POSTGRES_HOST=db

#OAuth Third-party provider configuration
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# JWT configuration
JWT_ACCESS_SECRET=replace_me_with_a_long_random_string
JWT_ACCESS_EXPIRES_IN=1h

DATABASE_URL=postgresql://kdrc_user:kdrc_password@db:5433/kdrc_db
